input/
output/startgg/css_portraits/
output/startgg/stock_icons/
output/top8er/smash_remix/icons/
output/top8er/smash_remix/portraits/
output/top8er/smash_remix/*.png
output/parrygg/
reference/startgg_reference
reference/parrygg_reference
temp.png

.idea/
__pycache__/
.python_version
